.bg  html, body, .desktop, .bg {
    overflow: auto;
}

.btn {
    background-color: #20C073;
}
body {
    background-image: url(/image/bg1.png);
    background-size: cover;
}

.profil{
    padding-top: 1px;
}