.btn {
    background-color: #20C073;
}

p {
    margin-bottom: 0;
}

.decor-nav {
    background-image: url(/image/decor.png);
    background-repeat: no-repeat;
}

.mobile .decor-nav {
    background-position: -20px  -8px;
    background-size: 180px;
    transform: rotate(145deg);
    padding: 24px 48px;
}

.header {
    background-color: #20C073;
}

.item-navigasi a {
    text-decoration: none;
    color: black;
    padding: 10px 16px;
    border-radius: 50px;
}

.item-navigasi a:hover {
    background-color: #54c98e;
}

.item-navigasi.active a {
    background-color: #20C073;
}

.prevnextbutton {
    font-size: 100px;
    color: #20C073;
}

.mobile .prevnextbutton {
    font-size: 60px;
}

.mobile .resep p{
    font-size: 12px;
}

.text-justify {
    text-align: justify;
}

.garis {
    border: 1px solid #000000;
}